[2020-06-27 14:42] Ezeko opened #32 "[FEATURE REQUEST]"
### Feature Description

There is a need to  create a model for DB to allow smooth query of DB by the backend codes.

### SOLUTION

A clear and descriptive model, with the corresponding table names on the database

[2020-06-27 14:54] Ezeko commented on #32
https://github.com/hngi/expenseng/pull/33

[2020-06-27 14:59] #32 closed

[2020-06-28 11:49] Ezeko opened #35 "[FEATURE REQUEST]"
Backend get Expenditure reports from database and display to frontend

### SOLUTION
create a controller to handle the DB read and return to view

### Describe alternatives you've considered
The method can also be applied on the pages controller

[2020-06-28 15:56] sosualfred commented on #35
Can i work on it

[2020-06-28 16:18] Ezeko commented on #35
It's been worked on already

[2020-06-28 16:20] sosualfred commented on #35
Make sure you indicate the assignee next time. And close the issue.

[2020-06-28 16:42] leeCodes-bit opened #38 "[FEATURE REQUEST] #36"
### Feature

Expenditure page requested.

### Solution

An expenditure page created with graphical representation of data.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

### Additional context

Add any other context or screenshots about the feature request here.

[2020-06-28 16:46] leeCodes-bit commented on #38
https://github.com/hngi/expenseng/pull/36

![1](https://user-images.githubusercontent.com/51709108/85953287-3af31280-b967-11ea-8e85-c690376d10e5.PNG)
![2](https://user-images.githubusercontent.com/51709108/85953288-3dee0300-b967-11ea-91e1-314c7962f67d.PNG)
![3](https://user-images.githubusercontent.com/51709108/85953289-3e869980-b967-11ea-90a1-f8d727bb928c.PNG)

[2020-06-28 18:47] #35 closed

[2020-06-28 18:50] #38 closed

[2020-07-20 14:57] sylvercodez opened #243 "user profile system for admin website for editing"
![Screenshot (242)](https://user-images.githubusercontent.com/64742528/87952591-e6444280-caa1-11ea-9d9f-74773b1247e6.png)
the admin should be able to upload a profile picture and also add a biography using the profile section @EphraimDev

[2020-07-20 14:59] Ezeko opened #244 "Cabinet CRUD"
As an admin I should be able to create cabinet, view cabinets created , edit and also delete cabinet members.

@EphraimDev

[2020-07-20 15:02] EphraimDev commented on #244
Go ahead

[2020-07-20 15:11] EphraimDev commented on #243
Approved

[2020-07-20 15:16] ajibadeabd opened #245 "super admin dashboard functionality crud"
A Registration of a company,. admin/super admin should be able to delete edit and update the registered company.
@EphraimDev
![Screenshot_20200720-154103](https://user-images.githubusercontent.com/43596899/87954456-4dfb8d00-caa4-11ea-911d-2dacd3946388.png)

[2020-07-20 15:25] Ezeko commented on #245
This already exist

[2020-07-20 15:25] ajibadeabd opened #246 "> A Registration of a company,. admin/super admin should be able to delete edit and update the registered company. @EphraimDev"
_Originally posted by @ajibadeabd in https://github.com/hngi/expenseng/issues/245#issuecomment-661106269_

@EphraimDev

[2020-07-20 15:26] Ezeko commented on #245
![Screenshot_2020-07-20-15-47-08-728_com android chrome](https://user-images.githubusercontent.com/31517324/87955534-cc0c6380-caa5-11ea-9008-de53c4f2dd33.jpg)

[2020-07-20 15:28] EphraimDev commented on #246
Has this not been done already?

[2020-07-20 15:30] #246 closed, assigned to nobody

[2020-07-20 15:32] EphraimDev commented on #245
Are you sure this feature is not available yet?

[2020-07-20 15:38] ajibadeabd opened #247 "crud for people, making the list for people to have all cridential"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#

[2020-07-20 15:38] ajibadeabd opened #248 "crud for people, making the list for people to have all cridentials"
![Screenshot_20200720-164259](https://user-images.githubusercontent.com/43596899/87957430-29a1af80-caa8-11ea-92f0-3a87a93f4f24.png)

displaying details of people creating updating deleting and editing

@EphraimDev

[2020-07-20 15:40] #247 closed, assigned to nobody

[2020-07-20 15:45] ajibadeabd commented on #245
I can't find it, it can only create, no update and delete

[2020-07-20 15:50] #245 closed, assigned to nobody

[2020-07-20 16:01] AironDev opened #249 "[FEATURE REQUEST] Comments/Replies [view, edit, delete, flag] for Admin (Backend)"
### Admin should be able to perform all operations currently available from the Comments Micro-service on comments and replies

### Describe the solution you'd like
I'm already working on this, My first implementation (blade templates) had a significant effect on the loading time of the dashboard, to solve this problem, I will rather use VUE components to communicate with the API

@EphraimDev

[2020-07-20 16:07] EphraimDev commented on #248
What do you mean by all credentials?

[2020-07-20 16:10] ihechiwilliams opened #250 "Full CRD functionality of the twitter bot from the admin dashboard"
## Ability to create, retrieve and delete tweet of the twitter bot from the admin dashboard

[2020-07-20 16:13] EphraimDev commented on #249
What are the operations for comments and replies please?

[2020-07-20 16:14] EphraimDev commented on #250
The bot can already create tweet

[2020-07-20 16:22] sylvercodez commented on #248
company_id | name | position | twitter | facebook | linkedin | avatar | email

what he means sir @EphraimDev

when you click people in the website it is not navigating to any place just static

[2020-07-20 16:24] AironDev commented on #249
View, Edit, Flag, Delete, Create

[2020-07-20 16:28] EphraimDev commented on #249
Alright go ahead

[2020-07-20 16:32] ajibadeabd commented on #248
when you click on people on the dashboard it should show people credentials like  name avatar|twitter and all

[2020-07-20 16:36] EphraimDev commented on #248
Who are the people and why are they relevant to the app? Are they ministers, cabinet members, company ceos etc?

[2020-07-20 16:52] ajibadeabd commented on #248
it is relevant to this app because it give detailed info of the person, it show your position you are, and all your social media accounts.

@EphraimDev

[2020-07-20 16:59] EphraimDev commented on #248
You didn't answer the first part of the question

[2020-07-20 17:22] leeCodes-bit opened #253 "[BUG]"
![1](https://user-images.githubusercontent.com/51709108/87966858-ccacf600-cab5-11ea-9890-0701b7bb2608.PNG)
### Describe the bug

The navigation bar is not displaying as it ought to

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

The hanburger border shouldn't extend across the logo on the navbar.
!

[2020-07-20 17:24] leeCodes-bit opened #254 "[BUG]"
### Describe the bug

The navbar is not responsive on smaller screens below 1000px.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

on smaller screens the navbar ought to have an hamburger.

### Screenshots

![2](https://user-images.githubusercontent.com/51709108/87967109-42b15d00-cab6-11ea-9522-39

[2020-07-20 17:25] EphraimDev commented on #253
Approved

[2020-07-20 17:27] leeCodes-bit opened #255 "[BUG]"
### Describe the bug

The twitter image above the twitter section ought to to be there.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

we already have a linear gradient twitter image in that section.

### Screenshots

![3](https://user-images.githubusercontent.com/51709108/87967409-a9367b00-cab6-1

[2020-07-20 17:27] ajibadeabd commented on #248
the people connect all staff together, basically I can say people consist of staff ministry CEO too

@EphraimDev

[2020-07-20 17:30] leeCodes-bit opened #256 "[BUG]"
### Describe the bug

The footer section is carrying the wrong logo.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

it should have a monochrome image according to the design.

### Screenshots

![4](https://user-images.githubusercontent.com/51709108/87967656-0f230280-cab7-11ea-98a3-6bcbf9d95365.PNG

[2020-07-20 17:30] ajibadeabd commented on #248
the people connect all staff together, basically I can say people consist of staff ministry CEO too

@EphraimDev

[2020-07-20 17:31] EphraimDev commented on #248
Not relevant. Not approved

[2020-07-20 17:31] #248 closed, assigned to nobody

[2020-07-20 17:33] #253 closed, assigned to nobody

[2020-07-20 17:34] #254 closed, assigned to nobody

[2020-07-20 17:35] #256 closed, assigned to nobody

[2020-07-20 17:38] EphraimDev commented on #255
Approved.
Also remove the `suggest cabinet member` button and add to the ministry cabinet page

[2020-07-20 17:52] onifs10 opened #257 "TweetBot enhancement"
### List Tweets
add list of all tweets

### Delete Tweet
admin should be able to delete tweet

[2020-07-20 18:12] #250 closed, assigned to nobody

[2020-07-20 18:14] EphraimDev commented on #257
approved

[2020-07-20 18:19] AnitaMuna opened #258 "[FEATURE REQUEST] Ministry and company search page"
Re-design the footer of the fg expense website as the right footer was not implemented

[2020-07-20 18:22] AnitaMuna commented on #258
@EphraimDev

[2020-07-20 18:30] EphraimDev commented on #258
I need more explanation please

[2020-07-20 18:40] ajibadeabd opened #260 "improving upload spreed sheet UI and displaying file format of file to upload"
re designing the upload.blade.php page , a page to upload an Excel spreadsheet to data base, including format
to check before selecting the excel file

@EphraimDev

[2020-07-20 18:41] AnitaMuna commented on #258
At the footer of the website, there's a place that says profile and under it there is company search and ministry search and when you click on it nothing pops up..so I was hoping there should be a page to search for different companies and ministry.

[2020-07-20 18:42] EphraimDev commented on #260
Include the screenshot of the present state of the page

[2020-07-20 18:44] ajibadeabd commented on #260
![Screenshot_20200720-192643](https://user-images.githubusercontent.com/43596899/87974060-5f06c700-cac1-11ea-8fe1-da45802f59b7.png)

[2020-07-20 18:44] ajibadeabd commented on #260
@EphraimDev

[2020-07-20 18:45] EphraimDev commented on #260
approved

[2020-07-20 18:45] odizee opened #261 "Government Handles Page Missing"
### Is your feature request related to a problem? Please describe.

The Government handles link on the footer does not move to an actual page. Which means there is no page for it.

### Describe the solution you'd like

I would suggest that a designer comes up with a design so I can implement the frontend.

[2020-07-20 18:46] EphraimDev commented on #258
approved

[2020-07-20 18:48] EphraimDev commented on #261
Approved

[2020-07-20 18:49] AnitaMuna commented on #258
Thank you

[2020-07-20 18:55] pepps01 opened #262 "Approve and Ignore Visitor Suggestions"
This involves:
     1. On Approve
           The the suggested cabinet  member would be added to the Cabinet Database Automatically

     2. On Ignore
        The selected member would be removed and added as soft deletes.

[2020-07-20 18:55] pepps01 commented on #262
@EphraimDev

[2020-07-20 19:16] EphraimDev commented on #262
approved

[2020-07-20 19:43] Acel-01 opened #263 "Search Page Missing [BUG]"
### Describe the bug

There is no search page on the website
### To Reproduce

Steps to reproduce the behavior:

1. Go to any FGexpense page
2. Click on the search icon
3. See error

### Expected behavior

on click, it should direct to a search page

### Screenshots

If applicable, add screenshots to help explain your problem.

### Desktop (please complete the following information):

-   OS: Wind

[2020-07-20 19:51] Nwokochahannah opened #264 "[BUG]"
### Describe the bug

Some changes were made to the navbar design and I will be implementing it

### Expected behavior

A responsive navbar

### Additional context

I would like to make the make its responsive behaviour a side bar and also to add a back to top icon to the homepage

[2020-07-20 19:52] Nwokochahannah commented on #264
@EphraimDev

[2020-07-20 19:52] EphraimDev commented on #263
Approved

[2020-07-20 19:55] EphraimDev commented on #264
Approved

[2020-07-20 19:58] papa28x4 commented on #263
@EphraimDev Please is this search page different from this
https://github.com/hngi/expenseng/issues/258

[2020-07-20 20:01] EphraimDev commented on #263
Yes and she said she was choosing another task

[2020-07-20 20:18] pepps01 commented on #262
@EphraimDev  I have been ejected from Slack. Since I am still in stage 6 and have been yet to be promoted to stage 7. Kindly reinstate me as I am working on this stage 7 task. As presented to you.

[2020-07-20 20:23] delight500 opened #265 "Addition of super admin role to the existing roles"
**Description:**

Currently the roles available on the website includes

- Admin

- Manager

- Editor

- User

There is a flaw in this roles system, as admins can add other admins to the project and in turn get removed by the new admin that was added.

This is not right so there should be 1 super admin account that will solve this.
As only a super admin would be able to add an admin and also remov

[2020-07-20 20:26] EphraimDev commented on #265
The admin should be the super admin since we have other roles

[2020-07-20 20:28] pepps01 opened #266 "Promotions"
I have not been promoted yet. @EphraimDev . I have been kicked out of the internship. Please reinstate me.

[2020-07-20 20:34] SkyC0der opened #267 "[BUG]"
### Describe the bug
The carousel doesn't work and it has a scroll overflow

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Desktop (please complete th

[2020-07-20 20:36] EphraimDev commented on #266
This is beyond me please. Why are you not in stage 7?

[2020-07-20 20:38] delight500 commented on #265
Other roles only have edit access they don't have access to create things @EphraimDev

[2020-07-20 20:38] EphraimDev commented on #267
approved

[2020-07-20 20:39] pepps01 commented on #266
I awaited my changes to be merged. I called your attention but you may have missed it.

[2020-07-20 20:40] pepps01 commented on #266
I just continued with the current stage 7 tasks. Until you get the chance to promote me.

[2020-07-20 20:40] pepps01 commented on #266
@EphraimDev I m hopeful.

[2020-07-20 20:43] EphraimDev commented on #265
Admin should have that access. Anybody with admin access has the highest access

[2020-07-20 20:44] delight500 commented on #265
So for other role users to have create access they have to be made an admin, meaning they can remove the admin that added them and this is not proper @EphraimDev

[2020-07-20 20:44] papa28x4 opened #268 "[FEATURE REQUEST] Link Expense/ministry Mini-table to the db"
### Is your feature request related to a problem? Please describe.

The data on the mini-table at base of the expense/ministry page is still hard-coded on the page.

### Describe the solution you'd like

I want to create a controller method to calculate and return the annual total expenses incurred by all ministries for each of last 5 years(which in this case is 2016 - 2020) and populate the above

[2020-07-20 20:44] delight500 commented on #265
That's y I want to add the super admin role sir

[2020-07-20 20:46] EphraimDev commented on #265
What `create access` are you referring to? To create new user?

[2020-07-20 20:47] delight500 commented on #265
Yes to add new users and to add companies, ministries etc
@EphraimDev

[2020-07-20 20:52] EphraimDev commented on #265
Only admin should have access to add new users.

[2020-07-20 20:58] delight500 commented on #265
What am saying sir is that new admins created by an admin can remove the admin that created them from the website which is not proper

[2020-07-20 21:01] EphraimDev commented on #265
Choose another task please

[2020-07-20 21:01] #265 closed, assigned to nobody

[2020-07-20 21:55] ugwustanley opened #269 "[FEATURE REQUEST] error pages"
I can code the error pages if no one is working on it

[2020-07-20 21:57] EphraimDev commented on #269
approved

[2020-07-20 22:28] davidalenoghena opened #270 "Set up a settings page for the admin"
### Is your feature request related to a problem? Please describe.
There is currently no settings page in the admin section

### Describe the solution you'd like
**I won't be implementing the functionalities, only the front end**
I will set up the page with general, notification and security features.
For the general, an admin should be able to change the appearance of the dashboard, set email add

[2020-07-20 23:33] delight500 opened #271 "Cabinet crud"
create a page on the the dashboard where users can perform cabinet crud (create, retrieve, update and delete) @EphraimDev

[2020-07-21 00:16] Ezeko commented on #244
#273

[2020-07-21 00:49] Ezeko commented on #271
These have been worked on. @delight500

[2020-07-21 00:56] delight500 commented on #271
@Ezeko i cant see it in the application folder neither is showing on the live website
we dont have cabinet page on the dashboard where admins can perform crud

[2020-07-21 01:06] Ezeko opened #274 "Create , Update and Delete Subscribed Users"
As an admin, I should be able to create, edit and delete subscribed users
![Screenshot_2020-07-20-15-40-11-825_com android chrome](https://user-images.githubusercontent.com/31517324/88000932-c25f1c00-caf6-11ea-9df9-314390ec2165.jpg)

[2020-07-21 01:08] Ezeko commented on #274
@EphraimDev

[2020-07-21 01:09] Ezeko commented on #271
Check previous issues. The PR has been made.

[2020-07-21 01:15] #271 closed, assigned to nobody

[2020-07-21 01:30] delight500 opened #275 "Recent activities and notification"
There should be a page where an admin would get notified anytime an action is carried out on the application
eg : add a new user, delete a company, or uploading a new excel file etc

@EphraimDev

[2020-07-21 02:08] goodhands opened #276 "[FEATURE REQUEST] Comments Section Improvements"
### Is your feature request related to a problem? Please describe.

Currently a visitor can only comment after giving their names and email which will be displayed on the website alongside their comments, and also a visitor can't edit or delete or flag other comments. This feature will enable all that.

### Describe the solution you'd like

A clear and concise description of what you want to happe

[2020-07-21 02:08] goodhands commented on #276
@EphraimDev

[2020-07-21 02:12] EphraimDev commented on #274
Approved

[2020-07-21 02:14] EphraimDev commented on #275
Approved
It shouldn't be a page on it's own. Let there be an activity section on the dashboard that shows latest activities. Also the notification icon on the top right header of the admin should be useful here

[2020-07-21 02:15] EphraimDev commented on #276
Approved

[2020-07-21 05:33] delight500 commented on #275
Okay so should i build an activites page instead and update the notification icon with respect to
The new activites @EphraimDev

[2020-07-21 05:49] EphraimDev commented on #275
No need for a new page. Add it to the dashboard

[2020-07-21 07:34] vrrayz opened #277 "[FEATURE REQUEST] Privacy Policy Page and Route"
There's no link for privacy policy and also there's no privacy policy page. Can i work on that. @EphraimDev

[2020-07-21 07:45] davidalenoghena commented on #270
@EphraimDev I would like to work on this as soon as the design is ready

[2020-07-21 07:46] papa28x4 commented on #268
@EphraimDev

[2020-07-21 07:51] EphraimDev commented on #268
Approved

[2020-07-21 07:52] EphraimDev commented on #270
I have approved this for someone else

[2020-07-21 07:53] EphraimDev commented on #277
Approved

[2020-07-21 08:06] vrrayz commented on #277
@EphraimDev i will need a designer to work with me so i can implement the design

[2020-07-21 08:07] EphraimDev commented on #277
Josh is a designer

[2020-07-21 08:12] EphraimDev commented on #244
I'll test and if satisfied, close it myself

[2020-07-21 08:12] EphraimDev commented on #244
Is your changes on the live server? If it's not ask the devops to push it

[2020-07-21 08:13] EphraimDev commented on #244
After pushing, inform me so I can test

[2020-07-21 08:41] davidalenoghena commented on #270
user profile system for admin website for editing (https://github.com/hngi/expenseng/issues/243)
This is the closest to my task I could find and this is for the profile.
![image](https://user-images.githubusercontent.com/43188489/88032749-4f759580-cb36-11ea-8a59-2fad97b03659.png)
The settings page is currently not linked to anything.
Just trying to be sure this task has been taken before I close i

[2020-07-21 08:45] Ezeko commented on #274
#278

[2020-07-21 08:47] Ezeko opened #279 "dismissable alert"
Flash Alert should have a delete option.
Also Company and Ministry should have Flash alert instead of script

[2020-07-21 08:48] Ezeko commented on #279
@EphraimDev

[2020-07-21 08:53] Ezeko commented on #279
![Screenshot (100)](https://user-images.githubusercontent.com/31517324/88033934-e3942c80-cb37-11ea-83c3-1f3c199269f5.png)

[2020-07-21 08:53] EphraimDev commented on #270
Approved

[2020-07-21 08:55] Ezeko commented on #279
#280

[2020-07-21 08:57] Ezeko commented on #244
okay

[2020-07-21 08:57] #279 closed, assigned to nobody

[2020-07-21 09:19] delight500 commented on #275
Okay

[2020-07-21 09:41] papa28x4 opened #282 "Filter Modal on Expense/Ministry Page doesn't work"
### Describe the bug

Clicking on the **apply filter button** on Filter modal does nothing.

### Expected behavior

The data displayed on table should be filtered with respect to the user-chosen filters (date/month/year). I want to correctly implement the filter

### Additional context

Add any other context about the problem here.

[2020-07-21 09:46] EphraimDev commented on #274
Some edge cases to consider
1. I tried editing a row and I successfully subscribed for a nonsense report type. Shouldn't that report type be a select tag so that the right report type is selected? A little spelling issue can be disastrous

2. I successfully subscribed for a particular report type twice using same email. I do not think this is good practice.

3. Will users get an email to confirm s

[2020-07-21 09:49] #282 closed, assigned to nobody

[2020-07-21 09:50] EphraimDev commented on #268
Until this is live, you are not allowed to open another issue

[2020-07-21 09:51] Ezeko commented on #274
Noted

[2020-07-21 10:04] papa28x4 commented on #282
@EphraimDev Please may I know the reason for the closure?

[2020-07-21 10:16] #262 closed, assigned to nobody

[2020-07-21 10:29] EphraimDev commented on #255
Get charley to deploy so I can test on live server. If satisfactory, the issue will be closed and you can move on to another

[2020-07-21 10:30] leeCodes-bit commented on #255
Alright sir will do that asap

[2020-07-21 10:49] EphraimDev commented on #257
I'll test when it goes live. Ask charley to update the server

[2020-07-21 11:11] onifs10 commented on #257
it is live  you can now test

[2020-07-21 11:21] webdott opened #286 "[BUG]"
### Describe the bug

Breadcrumbs have no margin to the left and on some pages, have different colors(On the about us page).

### To Reproduce

Steps to reproduce the behavior:

For margin issues:
1. Go to 'home'
2. Click on 'ministry drop-down'
3. Click on either 'expenditure reports' or 'ministry expense'
4. breadcrumb is just below header.
5. See error

For color issues:
1. Go to 'home'
2. Clic

[2020-07-21 11:21] #255 closed, assigned to nobody

[2020-07-21 11:23] EphraimDev commented on #286
Approved

[2020-07-21 12:03] sylvercodez commented on #243
#287 if approved to continue i am going to to the backend to connect it all but i would need user to also have a fields for image in the database so images  can be changed and a default can also be used

[2020-07-21 12:32] #260 closed, assigned to nobody

[2020-07-21 12:35] EphraimDev commented on #243
You're free

[2020-07-21 12:40] Ezeko commented on #274
#280
@EphraimDev changes effected

[2020-07-21 13:33] Ezeko commented on #244
This can be tested on live server now @EphraimDev

[2020-07-21 14:32] leeCodes-bit opened #293 "FAQ PAGE"
### Is your feature request related to a problem? Please describe.

Frequently asked question page

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

### Additional context

Add any other context or screenshots ab

[2020-07-21 15:13] EphraimDev commented on #257
Done

[2020-07-21 15:13] #257 closed, assigned to nobody

[2020-07-21 18:28] SkyC0der opened #295 "[FEATURE REQUEST]- Accessibility Page"
### Is your feature request related to a problem? Please describe.

I would like to implement the new designs of the accessibility and its respective route.

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

### A

[2020-07-21 19:58] EphraimDev commented on #295
I don't understand this issue

[2020-07-21 19:58] EphraimDev commented on #293
Approved

[2020-07-21 20:12] webdott opened #297 "[FEATURE REQUEST]"
### Is your feature request related to a problem? Please describe.

I want to implement the front-end  of the freedom of act page design.

### Describe the solution you'd like

Full implementation of the page

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

### Additional context

![FOIA](https://user-images.

[2020-07-21 20:15] EphraimDev commented on #297
Approved

[2020-07-21 20:20] SkyC0der commented on #295
![Screenshot from 2020-07-21 21-19-57](https://user-images.githubusercontent.com/44367769/88102778-05250080-cb98-11ea-805a-5b790bf2d589.png)
I would like to implement the accessibility page design

[2020-07-21 20:21] EphraimDev commented on #268
Done

[2020-07-21 20:29] EphraimDev commented on #295
Approved

[2020-07-21 20:41] #277 closed, assigned to nobody

[2020-07-21 20:42] papa28x4 opened #299 "[Filter Modal on Expense/Ministry Page doesn't work]"
### Describe the bug

The filter modal on this page does nothing when applied.

### Expected behavior

A clear and concise description of what you expected to happen.

The data displayed by table should be modified each time a filter is applied. It should display content that matches the specified date, month or year. I intend implement this functionality.

### Additional context

Add any other co

[2020-07-21 20:44] EphraimDev commented on #299
Approved

[2020-07-21 21:20] onifs10 opened #301 "web Scrapping to get excel files"
### backend feature to crawl through  a government website
would  retrieve excel sheet for budgets and payment from this website
sample of site http://opentreasury.gov.ng/

[2020-07-22 03:07] EphraimDev commented on #301
Approved

[2020-07-22 08:39] EphraimDev commented on #244
@Ezeko no pagination for this page
![Screenshot (52)](https://user-images.githubusercontent.com/30093122/88154848-3e448b80-cbff-11ea-862c-e0f1405fb50f.png)

[2020-07-22 08:46] #258 closed, assigned to nobody

[2020-07-22 08:57] #266 closed, assigned to nobody

[2020-07-22 09:15] EphraimDev commented on #286
Margins are needed here. Also We need a better tag without the underscore
![Screenshot (54)](https://user-images.githubusercontent.com/30093122/88158796-61be0500-cc04-11ea-92aa-58f67d08c108.png)

[2020-07-22 09:18] EphraimDev commented on #267
Is this completed and visible on expenseng.com?

[2020-07-22 09:32] SkyC0der commented on #267
It has been completed but not visible on expenseng.com

[2020-07-22 09:37] webdott commented on #286
I have fixed those issues since
Changes haven't just been reflected on the server

And about the tags without underscore, I'll look into it now

[2020-07-22 09:45] #297 closed, assigned to nobody

[2020-07-22 12:12] EphraimDev commented on #270
I will close it after I have tested it on the liver server in a few minutes

[2020-07-22 12:14] EphraimDev commented on #270
You can open another issue now

[2020-07-22 12:14] #270 closed, assigned to nobody

[2020-07-22 13:41] Ezeko commented on #244
There is pagination. Maybe it didn't load fully @EphraimDev

[2020-07-22 15:08] Ezeko commented on #244
![Screenshot_2020-07-22-16-01-14-335_com android chrome](https://user-images.githubusercontent.com/31517324/88193452-98f8da00-cc35-11ea-9c8c-d0252417bf76.jpg)
Here's a live screenshot @EphraimDev

[2020-07-22 16:43] #261 closed, assigned to nobody

[2020-07-22 17:18] Ezeko commented on #274
#316
Email now sending @EphraimDev

[2020-07-22 19:43] odizee opened #320 "[BUG]"
### Describe the bug

Ministry Expense Table Pagination is not responsive on mobile. It overflows.

### Expected behavior

The pagination should be implemented in a way that will not make the page overflow.

### Screenshots
![IMG_20200722_203446](https://user-images.githubusercontent.com/66241926/88221103-e25c2000-cc5b-11ea-8862-269ce7e9b379.jpg)

[2020-07-22 20:04] davidalenoghena opened #322 "Contact Us Feature"
### Is your feature request related to a problem? Please describe.
The contact us currently doesn't function

### Describe the solution you'd like
I would make it work and emails will be sent to my mail for now till we have set up an official mail for the site

### Additional context
![image](https://user-images.githubusercontent.com/43188489/88223149-ea698f00-cc5e-11ea-989a-dcc3cbe9e416.png)

[2020-07-22 20:05] davidalenoghena commented on #322
I would like to work on this @EphraimDev
Is it okay to direct the mails to my gmail account for now?

[2020-07-22 21:19] odizee commented on #320
@EphraimDev

[2020-07-23 00:34] webdott opened #329 "[FEATURE REQUEST]"
### Is your feature request related to a problem? Please describe.

I would like to implement the privacy policy page

### Describe the solution you'd like

Full frontend implementation of the privacy policy design page

### Additional context

![Privacy Policy](https://user-images.githubusercontent.com/52088600/88242256-940f4700-cc84-11ea-8de3-3a9848c653db.png)

[2020-07-23 00:53] Acel-01 commented on #263
Hello sir
I think you can close this issue
I've made PRs and they have been merged

[2020-07-23 02:22] Nwokochahannah opened #330 "Bug in ministry profile page"
### Describe the bug

When a card in ministries is clicked (locally) the ministry profile page continues loading, when itis clicked on the live link the page does not open

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

For the ministry profile of any company to open without any hitches

### Screen

[2020-07-23 02:22] Nwokochahannah commented on #330
@EphraimDev

[2020-07-23 02:25] leeCodes-bit opened #331 "Admin settings page"
### Describe the bug

the login and register page is not responsive and needs fixing.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

![WhatsApp Image 2020-07-23 at 3 10 47 AM](https://user-images.githubusercontent.co

[2020-07-23 04:53] leeCodes-bit opened #336 "Footer section"
### Describe the bug

A wrong footer logo and faq not included.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

![2](https://user-images.githubusercontent.com/51709108/88253164-d185cb80-cca8-11ea-9d33-7a2b5f43df35.PNG

[2020-07-23 04:58] leeCodes-bit opened #337 "Privacy Policy Page"
### Is your feature request related to a problem? Please describe.

Privacy Policy Page

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

### Additional context

Add any other context or screenshots about the fea

[2020-07-23 05:13] EphraimDev commented on #320
Approved

[2020-07-23 05:14] EphraimDev commented on #322
Use expenseng@gmail.com for the live server. Your local can use your email

[2020-07-23 05:14] EphraimDev commented on #322
Approved

[2020-07-23 05:15] EphraimDev commented on #329
Approved

[2020-07-23 05:16] EphraimDev commented on #330
Approved

[2020-07-23 05:16] EphraimDev commented on #331
Approved

[2020-07-23 05:18] EphraimDev commented on #331
However I'm not sure the admin needs a register page. Can you also add a login link to the footer of the website because the user journey is somehow as there's no login link on the website

[2020-07-23 05:18] EphraimDev commented on #336
Approved

[2020-07-23 05:19] EphraimDev commented on #337
@caspero-62 has taken this

[2020-07-23 05:19] #337 closed, assigned to nobody

[2020-07-23 05:42] leeCodes-bit opened #338 "privacy policy page"
### Is your feature request related to a problem? Please describe.

privacy policy page

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

### Additional context

Add any other context or screenshots about the fea

[2020-07-23 06:21] leeCodes-bit commented on #331
Ok will do that sir

[2020-07-23 06:43] odizee commented on #320
@EphraimDev someone else has fixed this issue.

[2020-07-23 06:46] EphraimDev commented on #320
Oh ok. Look for another

[2020-07-23 06:46] #320 closed, assigned to nobody

[2020-07-23 06:47] odizee opened #340 "Contact Us Page Icons."
### Describe the bug
The icons on the contact us page are overlapping with the details, on mobile screen.

### Expected behavior

It needs to align left of their details or bottom.

### Screenshots

![IMG_20200722_203416](https://user-images.githubusercontent.com/66241926/88258719-aefbae80-ccb8-11ea-84fb-c83f916a4a5a.jpg)

[2020-07-23 06:48] EphraimDev commented on #340
Approved

[2020-07-23 06:53] EphraimDev commented on #329
@leeCodes-bit

[2020-07-23 07:37] delight500 opened #341 "Addition of notification preview modal to the recent activity table"
On the notification table when a view is clicked it should bring out a modal that shows the full details of that particular activity, details like

- The name of the person that carried out the activity with the privilege level of that particular user

- the date and time that activity was carried out

- full description of the activity carried out

![Screenshot_20200723-083025](https://user-image

[2020-07-23 07:41] delight500 commented on #341
When any of the tabs are clicked this modal should come up
Showing the details I listed above, as this would help to keep track of actions performed by users in the admin area
And who performed the action

@EphraimDev

[2020-07-23 07:51] Ezeko commented on #274
#327
Add subscribexpenseng@gmail.com as sender email address

[2020-07-23 07:55] Ezeko commented on #274
@EphraimDev this is live, we can test this now.

[2020-07-23 08:57] Acel-01 opened #342 "Back-to-top Button"
### Describe the bug

On the about us page, the back to top button is positioned below the footer

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'About Us' page
2. Scroll down to the end of the page
3. See error

### Expected behavior

It should be styled as the one on the home page is

### Screenshots

![FG Expense - Home (1)](https://user-images.githubusercontent.com/60946455/8826

[2020-07-23 08:59] webdott commented on #329
Is this person doing this page sir or I should go ahead?

[2020-07-23 09:07] Acel-01 opened #343 "Logo on header"
### Describe the bug

on click, it directs to a missing index.html page

### To Reproduce

Steps to reproduce the behavior:

1. Go to any page on expenseng.com
2. Click on the expenseng logo
3. See error

### Expected behavior

on click, the expenseng logo should direct to the homepage not index.html(that's apparently missing)

### Screenshots

![Not Found](https://user-images.githubusercontent.co

[2020-07-23 09:18] delight500 opened #344 "Approve feature on the dashboard error"
### Describe the bug

An error that occurs when a user clicks on the approve button in the visitors suggestion table

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'Visitors suggestion table on the dashboard'
2. Click on 'approve button'
3. See error

### Expected behavior

### Screenshots
![Screenshot_20200723-101728](https://user-images.githubusercontent.com/54745498/88270582-c4c7

[2020-07-23 09:19] delight500 opened #345 "[BUG] approve button on the visitors suggestion table returns an error"
### Describe the bug

An error that occurs when a user clicks on the approve button in the visitors suggestion table

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'Visitors suggestion table on the dashboard'
2. Click on 'approve button'
3. See error

### Expected behavior

### Screenshots
![Screenshot_20200723-101728](https://user-images.githubusercontent.com/54745498/88270582-c4c7

[2020-07-23 09:21] EphraimDev commented on #342
Approved

[2020-07-23 09:22] EphraimDev commented on #329
Go ahead

[2020-07-23 09:23] EphraimDev commented on #343
Approved

[2020-07-23 09:23] EphraimDev commented on #345
Approved

[2020-07-23 09:39] AironDev opened #346 "[FEATURE REQUEST] PAYMENTS CRUD"
### Is your feature request related to a problem? Please describe.
* What we currently  have as Expenses  rather  matches Payments Model and Database Design
* Payments are done by MDAs, so that should be considered as Expenses

---

### Describe the solution you'd like
1. I will create a Payments CRUD
2. Correct the Recent Expenses on dashboard to reflect data from payments table

---
### Addition

[2020-07-23 09:44] Ezeko opened #347 "PARSING AND PERSISTING EXCEL SHEETS"
The site should be able to parse and persist crawled sheets at specific intervals. @EphraimDev

[2020-07-23 09:51] EphraimDev commented on #346
Approved

[2020-07-23 09:51] EphraimDev commented on #347
Approved

[2020-07-23 10:49] odizee opened #350 "Implementation of Licenses Page"
### Is your feature request related to a problem? Please describe.
The license link, at the footer area of the admin section, is not linking anywhere. If there is a design for it I can implement it.

[2020-07-23 10:50] odizee commented on #350
@EphraimDev

[2020-07-23 10:53] delight500 commented on #341
@EphraimDev please approve this so i can start working

[2020-07-23 11:13] EphraimDev commented on #350
Approved

[2020-07-23 11:13] EphraimDev commented on #341
Approved

[2020-07-23 12:40] SkyC0der opened #352 "Implementation of settings page"
### Is your feature request related to a problem? Please describe.

I would like to implement the settings page
![Screenshot from 2020-07-23 13-38-25](https://user-images.githubusercontent.com/44367769/88287382-1ed65d00-ccea-11ea-8353-521e6243e9cd.png)

[2020-07-23 12:43] EphraimDev commented on #352
Are you sure it hasn't been done?

[2020-07-23 13:08] leeCodes-bit commented on #336
completed and already merged

[2020-07-23 13:10] leeCodes-bit commented on #331
i just made a pr sir

[2020-07-23 13:19] SkyC0der commented on #352
It was done before the design was released. So I would like to refactor the current page to match the design

[2020-07-23 13:20] EphraimDev commented on #352
Ok

[2020-07-23 14:10] #330 closed, assigned to nobody

[2020-07-23 14:19] leeCodes-bit opened #356 "ministry and contractors page breadcrumbs"
### Describe the bug

ministry and contractors page breadcrumbs.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

![5](https://user-images.githubusercontent.com/51709108/88297537-ee95bb00-ccf7-11ea-9d5b-559b40436f2e.PN

[2020-07-23 14:22] EphraimDev commented on #356
Approved

[2020-07-23 15:32] Nwokochahannah opened #358 "Universal table design for the admin blog"

[2020-07-23 15:32] Nwokochahannah commented on #358
@EphraimDev

[2020-07-23 15:38] EphraimDev commented on #358
Approved

[2020-07-23 15:49] odizee opened #359 "Fix tab and placeholder text on contractors page"
### Describe the bug

The companies and total awards tab goes left and doesn't align well with the graphs. Also, the placeholder text in the search input form has a different font family.
@EphraimDev

![Screenshot (45)](https://user-images.githubusercontent.com/66241926/88307834-4afed780-cd04-11ea-9cf5-4b02e4c8d775.png)

[2020-07-23 16:53] EphraimDev commented on #359
Approved

[2020-07-23 18:38] webdott opened #361 "[BUG]"
### Describe the bug

Footer links on hover are blue instead of green

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'homepage'
2. Scroll down to 'footer'
3. Hover on any footer
4. See error

### Expected behavior

Color of links meant to be green.

[2020-07-23 18:48] odizee opened #362 "Alignment on the Contact Us page."
### Describe the bug

The page styling is not properly aligned.

[2020-07-23 18:53] #361 closed, assigned to nobody

[2020-07-23 18:56] #269 closed, assigned to nobody

[2020-07-23 19:05] #340 closed, assigned to nobody

[2020-07-23 20:10] #295 closed, assigned to nobody

[2020-07-23 20:13] #267 closed, assigned to nobody

[2020-07-23 21:39] #263 closed, assigned to nobody

[2020-07-23 22:05] #293 closed, assigned to nobody

[2020-07-23 22:43] webdott opened #370 "[BUG]-navbar on mobile fix for FAQ and Privacy Policy Pages"
### Describe the bug

The navbar for faq and privacy policy pages are not showing

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'home'
2. Scroll down to 'footer'
3. Click on 'faq or privacy policy link'.
4. click on the hamburger menu.
5. See error

### Expected behavior

Mobile navbar expected to show

[2020-07-24 03:32] #286 closed, assigned to nobody

[2020-07-24 03:38] #301 closed, assigned to nobody

[2020-07-24 03:44] #329 closed, assigned to nobody

[2020-07-24 03:48] #336 closed, assigned to nobody

[2020-07-24 03:49] #338 closed, assigned to nobody

[2020-07-24 03:50] #342 closed, assigned to nobody

[2020-07-24 03:52] #343 closed, assigned to nobody

[2020-07-24 04:03] #356 closed, assigned to nobody

[2020-07-24 04:05] #359 closed, assigned to nobody

[2020-07-24 07:26] Ezeko commented on #274
#373

[2020-07-24 08:27] #341 closed, assigned to nobody

[2020-07-24 08:36] davidalenoghena opened #376 "[BUG] on ministry and {ministries}"
![image](https://user-images.githubusercontent.com/43188489/88374087-0a00d480-cd91-11ea-9837-82e063c47c83.png)
Title of the ministry card currently missing

![image](https://user-images.githubusercontent.com/43188489/88374148-27ce3980-cd91-11ea-9b77-5edfb6e98ce6.png)
Current breadcrumb is wrong. Should show the particular ministry being viewed

[2020-07-24 08:41] EphraimDev commented on #376
Approved

[2020-07-24 09:10] EphraimDev commented on #345
Is this working now? I still got same error when I tested it

[2020-07-24 09:39] Nwokochahannah commented on #264
Fixed was not added to this issue is there any problem with it

[2020-07-24 09:48] #264 closed, assigned to nobody

[2020-07-24 10:44] Nwokochahannah opened #379 "[BUG]"
### Describe the bug

Make the cards and tables on the page aligned

### Screenshots

[2020-07-24 10:55] EphraimDev commented on #379
For which pages?

[2020-07-24 11:10] delight500 commented on #345
Yes it should work my changes haven't reflected on the website @EphraimDev

[2020-07-24 12:00] delight500 commented on #345
It's working on the test server @EphraimDev

[2020-07-24 12:23] papa28x4 opened #384 "[FEATURE REQUEST] Implement Charts for Ministry Expenditure section of the Home Page"
### Is your feature request related to a problem? Please describe.

Currently, Ministry Expenditures select drop-down on the home page still has dummy options. Also, the chart displayed is static.

### Describe the solution you'd like

I intend to connect the drop-down to the backend so it shows the list of ministries. And when a user selects a ministry, the chart re-renders to show data that pert

[2020-07-24 12:32] EphraimDev commented on #384
Approved

[2020-07-24 12:47] Nwokochahannah commented on #379
Dashboard

[2020-07-24 12:47] Ezeko commented on #347
#385

[2020-07-24 12:48] EphraimDev commented on #379
Approved

[2020-07-24 14:30] #344 closed, assigned to nobody

[2020-07-24 14:30] sylvercodez opened #389 "adding a change password for user in profile page"
admin have the ability to change password using the dashboard but users should be able to also change there password via profile

[2020-07-24 14:33] sylvercodez commented on #389
![Screenshot (259)](https://user-images.githubusercontent.com/64742528/88402399-f8382500-cdc2-11ea-814f-ddca4f46055d.png)
how it will look like @EphraimDev

[2020-07-24 14:34] sylvercodez commented on #389
and another undone works can be added for me to do i am adapting now

[2020-07-24 14:35] EphraimDev commented on #389
Approved

[2020-07-24 17:42] odizee opened #393 "Adding Pulse effects to scroll down button"
### Is your feature request related to a problem? Please describe.

I would like to add pulse effects to the big button at the home page to make users know that it is functional.
![IMG_20200724_184514](https://user-images.githubusercontent.com/66241926/88419917-e6b04680-cddd-11ea-86dc-1d01a64c8b49.jpg)

[2020-07-24 18:29] EphraimDev commented on #393
Is the button actually functional?

[2020-07-24 18:39] odizee commented on #393
Yes. I thought if it will be okay if it has an effect. Like a pulse so it gets user attention.
And I noticed that when it's clicked it just vanishes down to the section referenced, unlike the scroll up where you see that it's actually scrolling up the page.

[2020-07-24 19:47] Ezeko commented on #347
#397

[2020-07-24 21:23] Acel-01 opened #399 "Email Confirmation Page"
Implementing the design for the email confirmation page

[2020-07-24 23:08] sylvercodez opened #403 "[BUG]"
when you click on the dashboard logo in the nav bar it is not working i can fix it pending the time i see another task can i runcheck all sections and list all the click-ables and functions that are not working??

[2020-07-24 23:09] sylvercodez commented on #403
![Screenshot (272)](https://user-images.githubusercontent.com/64742528/88442092-11fd5a80-ce0b-11ea-8a8d-fd0112824693.png)

[2020-07-24 23:22] webdott opened #404 "[BUG]-Back-to-top button causing a margin bottom for footer"
### Describe the bug

Back-to-top button causing a margin bottom for footer in FAQ, Privacy policy, FOIA and contact us pages
### To Reproduce

Steps to reproduce the behavior:

1. Go to 'home'
2. Scroll down to 'footer'
2. Click on 'faq, Privacy policy, FOIA and contact us links'
4. Scroll down to 'footer'
5. See error

### Expected behavior

No margin expected.

### Screenshots

![Screenshot fro

[2020-07-25 03:33] sylvercodez commented on #403
@EphraimDev

[2020-07-25 03:57] EphraimDev commented on #403
Yes please but pull the latest and check on your local

[2020-07-25 04:03] sylvercodez commented on #403
ok

[2020-07-25 06:44] #249 closed, assigned to nobody

[2020-07-25 06:48] #346 closed, assigned to nobody

[2020-07-25 07:06] delight500 opened #409 "[FEATURE REQUEST] Edit user details for the settings page"

[2020-07-25 12:34] AironDev commented on #243
Don't alter users table, but rather create a profiles table with user_id foreign key
create the relationship and cascade on delete

[2020-07-25 12:36] sylvercodez commented on #243
no i didnt i only added fields cos profile is for users

[2020-07-25 13:43] #275 closed, assigned to nobody

[2020-07-25 13:49] #404 closed, assigned to nobody

[2020-07-25 13:56] #370 closed, assigned to nobody

[2020-07-25 13:59] #352 closed, assigned to nobody

[2020-07-25 14:10] EphraimDev commented on #268
Is this the section you are referring to here? Why am I seeing 2027-2031?
![Screenshot_2020-07-25 Ministry Expenses](https://user-images.githubusercontent.com/30093122/88458883-f46ed600-ce88-11ea-8f09-b5c72d55ec5e.png)

[2020-07-25 14:17] EphraimDev commented on #299
Is the table containing dummy data or from the database?

[2020-07-25 14:21] #384 closed, assigned to nobody

[2020-07-25 14:23] papa28x4 commented on #299
@EphraimDev  It's from the database. You can check the file. There's no hardcoded data on the page.

[2020-07-25 14:26] EphraimDev commented on #299
From what?

[2020-07-25 14:26] EphraimDev commented on #299
The pagination is acting funny. I don't understand it

[2020-07-25 14:28] papa28x4 commented on #299
How is it behaving?

[2020-07-25 14:30] EphraimDev commented on #299
No matter the number I click, it doesn't leave the page 1.
![Screenshot_2020-07-25 Ministry Expenses(1)](https://user-images.githubusercontent.com/30093122/88459243-c4750200-ce8b-11ea-8c85-528537fd1bf8.png)

[2020-07-25 14:31] EphraimDev commented on #299
Filter works well. How do I clear the filter to return all the data back?

[2020-07-25 14:33] papa28x4 commented on #268
@EphraimDev This live server has issues.
If the time (year) of server is correctly set , this shouldn't happen. I don't have this behavior on the test http://testexpenses.herokuapp.com/expense/ministry nor on the local.

[2020-07-25 14:37] papa28x4 commented on #299
When you said funny I thought the pagination some how had started working but with some inconsistencies. Pagination doesn't work on the live, because pagination depends on query strings. That server doesn't support it

[2020-07-25 14:40] sylvercodez commented on #403
im done withe first check and also the dashboard logo

[2020-07-25 14:41] sylvercodez commented on #389
also done with the password change

[2020-07-25 14:42] papa28x4 commented on #299
I didn't think of that maybe because the design didn't include it. I'll have to add a button to reset

[2020-07-25 14:42] sylvercodez commented on #243
this also can be tested sir

[2020-07-25 14:50] EphraimDev commented on #299
Yes do.
Then Do I have to select a date if I just want to filter by amount only?

[2020-07-25 14:58] #399 closed, assigned to nobody

[2020-07-25 15:02] papa28x4 commented on #299
I will relax the control so a user can just sort by amount only

[2020-07-25 16:05] papa28x4 commented on #268
I have been thinking about this mind boggling issue and it finally clicked. The problem is the database seed. Someone created seeds with payment dates up to 2031 which is practically impossible. You can't have a payment date for 2031 when we are still in 2020. The daily payments carry today's date not some futuristic date.

That said, in this case 2031 is most recent year and my code is working as

[2020-07-25 16:06] papa28x4 commented on #268
@EphraimDev

[2020-07-25 17:58] leeCodes-bit opened #418 "fixes in josh thread."
### Describe the bug

fixes in josh thread.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain your problem.

### Desktop (please complete the following information):

-   O

[2020-07-25 17:59] webdott opened #419 "[BUG]-fix broken footer links and change footer text"
### Describe the bug

Some footer links are broken and text not right

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'home'
2. Scroll down to 'footer'
3. Click on 'daily, ministry, and company report links'
4. See error

### Expected behavior

they are meant to link to their respective pages

[2020-07-25 21:09] webdott opened #423 "[FEATURE REQUEST]-Add phone number input to contact form"
### Describe the solution you'd like

I want to add a phone number section to the contact form

### Additional context

![screenshot_2020-07-25-18-20-00-217_com android chrome](https://user-images.githubusercontent.com/52088600/88466366-85fb3980-cec3-11ea-9452-0a499f1edc4f.jpg)

[2020-07-26 00:21] Ezeko opened #426 "Admin sidebar sheet"
As an Admin, I should be able to see sheets scrapped from open treasury and download at will. #425 @EphraimDev
![Screenshot (121)](https://user-images.githubusercontent.com/31517324/88468632-42fa8f80-cede-11ea-8088-94ac981ed407.png)

[2020-07-26 00:22] Ezeko commented on #347
#422
![Screenshot (124)](https://user-images.githubusercontent.com/31517324/88468641-6d4c4d00-cede-11ea-9f57-754ce97b7977.png)

[2020-07-26 08:00] #419 closed, assigned to nobody

[2020-07-26 08:24] sylvercodez opened #429 "fixing the backend for change password in the settings page"
fixing the security settings page in main admin @EphraimDev
![Screenshot from 2020-07-26 09-31-42](https://user-images.githubusercontent.com/64742528/88474936-27fe3e80-cf23-11ea-8036-bf52f85ff94a.png)

[2020-07-26 08:29] webdott commented on #419
@leeCodes-bit already fixed this issue

[2020-07-26 11:13] Ezeko commented on #274
@EphraimDev  this is working with email template. In my new push #430

[2020-07-26 19:42] #268 closed, assigned to nobody

[2020-07-26 19:43] #299 closed, assigned to nobody

[2020-07-26 19:56] #376 closed, assigned to nobody

[2020-07-26 20:21] #362 closed, assigned to nobody

[2020-07-26 21:01] #429 closed, assigned to nobody

[2020-07-26 21:03] #389 closed, assigned to nobody

[2020-07-26 21:04] EphraimDev commented on #403
Add a picture of what you mean by dashboard logo please

[2020-07-26 21:07] EphraimDev commented on #243
How do I add a pic?

[2020-07-26 21:10] sylvercodez commented on #403
![Screenshot (270)](https://user-images.githubusercontent.com/64742528/88489576-4735b400-cf95-11ea-8f1c-01c2d514fd79.png)

the small four boxes was not redirecting anywhere before i fixed it will add my pr now of it

[2020-07-26 21:13] sylvercodez commented on #243
the user field for image is not accepting file same issue was in cabinet when you want to create a user .....you wont see file signal the form is not accepting file dont know why

so i removed mine instead of making it kinda confusing
![Screenshot (293)](https://user-images.githubusercontent.com/64742528/88489635-aa274b00-cf95-11ea-8170-7789956095be.png)

[2020-07-26 21:15] sylvercodez commented on #403
https://github.com/hngi/expenseng/pull/406 this is my merged pr

[2020-07-26 21:16] EphraimDev commented on #243
Most likely because you are not doing it the right way. Ask for help on the channel if you need help

[2020-07-26 21:30] #331 closed, assigned to nobody

[2020-07-27 00:18] sylvercodez commented on #243
i have solved my issue..tension is a teacher

[2020-07-27 02:55] EphraimDev commented on #244
I made a comment about this sometime ago. It shouldn't display the code but the ministry itself while the option tags can have the code as value
![Screenshot_2020-07-27 ExpenseNg admin dashboard(1)](https://user-images.githubusercontent.com/30093122/88499145-ef12a800-cfbc-11ea-93e6-ea1289c7ba95.png)

[2020-07-27 03:14] EphraimDev commented on #426
1. Can we also have an icon that when clicked, parses the particular sheet and stores it content in the database? This should be beside the download icon
2. There's no pagination on the page. I want to be able to also filter or search for certain sheets (http://testexpenses.herokuapp.com/admin/sheets)
3. Status: New, what does this mean?

[2020-07-27 03:15] EphraimDev commented on #426
How come pagination is available on your local but not on heroku? Same with the cabinet page

[2020-07-27 03:16] EphraimDev commented on #426
I see why
```Uncaught TypeError: $(...).DataTable is not a function```
I guess you have to try another way to include the plugin

[2020-07-27 03:17] #423 closed, assigned to nobody

[2020-07-27 03:49] Nwokochahannah opened #442 "Fixing the padding and font size of labels in home page, removing the excess margins of the cards and making them clickable"

[2020-07-27 03:50] Nwokochahannah commented on #442
@EphraimDev

[2020-07-27 04:02] EphraimDev commented on #442
Approved

[2020-07-27 05:35] webdott commented on #442
@EphraimDev I've just made a pr fixing this, can i take this?

[2020-07-27 06:01] Nwokochahannah opened #446 "Bugs"
### Screenshots

If applicable, add screenshots to help explain your problem.
![Screenshot (73)](https://user-images.githubusercontent.com/62136073/88508269-4a04c900-cfd6-11ea-93ba-1885471446e2.png)
![Screenshot_2020-07-27 FG Expense - Home(3)](https://user-images.githubusercontent.com/62136073/88508277-4ec97d00-cfd6-11ea-97b3-5242154bf4df.png)

### Work to be done
 changing the tab settings of th

[2020-07-27 06:01] Nwokochahannah commented on #446
Webdot has made changes to the issue I raised before so I will be working on this

[2020-07-27 06:02] Nwokochahannah commented on #446
@EphraimDev

[2020-07-27 06:47] Ezeko commented on #426
All is included. I'll check it here now

[2020-07-27 06:48] Ezeko commented on #244
Noted

[2020-07-27 06:50] Ezeko commented on #426
Maybe it doesn't load fully. Cos there is pagination on the cabinet page online

[2020-07-27 06:53] webdott commented on #446
@Nwokochahannah Thanks.
 I have made the cards clickable already though

[2020-07-27 06:58] Ezeko commented on #426
![Screenshot_2020-07-27-07-50-54-460_com android browser](https://user-images.githubusercontent.com/31517324/88512745-f054cc80-cfde-11ea-8251-9b50820dac5b.jpg)
This is what I have on my phone

[2020-07-27 06:59] Ezeko commented on #426
New means not parsed or fresh sheet

[2020-07-27 07:03] EphraimDev commented on #442
@caspero-62 you can't just jump on people's work please haba

[2020-07-27 07:05] webdott commented on #442
I'm sorry sir

[2020-07-27 07:27] webdott opened #447 "[BUG]- change footer link according to design"
### Describe the bug

Some footer links text are not the same as the design specification

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'home'
2. Scroll down to 'footer'
3. See error

### Additional context
what I am changing the links to

![20200725-200142](https://user-images.githubusercontent.com/52088600/88515035-f2208f00-cfe2-11ea-9f8f-bb797aa25732.png)

[2020-07-27 16:05] Ezeko commented on #426
![Screenshot (131)](https://user-images.githubusercontent.com/31517324/88564644-58c99b00-d02b-11ea-8d2f-100588ed5b2c.png)
@EphraimDev

[2020-07-28 10:34] webdott opened #461 "[BUG]- fix latest government expenses section on mobile view"
### Describe the bug

Mobile view of the latest government expenses section on Landing page looks weird

### To Reproduce

Steps to reproduce the behavior:

### Additional context

![screenshot_20200728-112617_chrome](https://user-images.githubusercontent.com/52088600/88655153-4486ac00-d0c6-11ea-8a43-453d6146464a.jpg)

[2020-07-28 11:01] webdott opened #462 "[BUG]- make drop-downs on the navbar show on hover"
I want to make drop-downs show in hover

[2020-07-28 12:05] papa28x4 opened #464 "Link the Chart in Expense/Report page to DB and also Implement Date Filtering"
### Is your feature request related to a problem? Please describe.

The chart under the daily expenditure tab in Expense/report page is still fed by hard-coded data.

### Describe the solution you'd like
1) I intend link chart so it gets expense data for that current day (if available) at page load from the db
2) Implement date filtering so user can choose to view data by date, month or year
3) So

[2020-07-28 19:38] leeCodes-bit opened #466 "Responsiveness across every page"
### Describe the bug

Responsiveness across every page with major focus on the landing page.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

![1](https://user-images.githubusercontent.com/51709108/88712798-32325f80-d1

[2020-07-28 19:43] leeCodes-bit opened #467 "Uniform and right font size across all pages"
### Describe the bug

Uniform and right font size across all pages.

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

![7](https://user-images.githubusercontent.com/51709108/88713254-e9c77180-d112-11ea-8f54-c1a8ec6768fa

[2020-07-28 19:57] leeCodes-bit opened #470 "Removal unnecessary margin and paddings across all pagees"
### Describe the bug

Removal unnecessary margin and padding across all pages

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

![5](https://user-images.githubusercontent.com/51709108/88714308-89393400-d114-11ea-9cf5-6d

[2020-07-28 20:01] SkyC0der opened #471 "[BUG] Replace dummy data on Latest Government expense section"
### Describe the bug
I would like to replace dummy data on the home section of the project with accurate data from the db

### To Reproduce

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### Expected behavior

A clear and concise description of what you expected to happen.

### Screenshots

If applicable, add screenshots to help explain

[2020-07-28 20:04] davidalenoghena opened #472 "Replace dummy data in home carousel"
![image](https://user-images.githubusercontent.com/43188489/88715717-dec21080-d115-11ea-8098-0262a15d73f1.png)

[2020-07-28 21:25] davidalenoghena commented on #471
Edit this title to be more explanatory

[2020-07-28 21:29] EphraimDev commented on #471
Which part of the home page? Some have been done already

[2020-07-28 21:57] SkyC0der commented on #471
![j](https://user-images.githubusercontent.com/44367769/88726476-b3472200-d125-11ea-9ced-8d808b38e10e.png)
Latest Government expense section

[2020-07-29 05:15] papa28x4 opened #478 "Link tables under Daily Expenditure tab in Expense/Report page to DB"
Is your feature request related to a problem? Please describe.
The 2 tables (Main and mini tables) under the daily expenditure tab in Expense/report page still contain data hard-coded on the page.

Describe the solution you'd like
1) I intend link these tables such that they pull their data from the database.
2) Then implement date filtering for the main table
3) Sort the main table by amounts

[2020-07-29 10:42] AironDev opened #483 "[FEATURE REQUEST] Replace Dummy Data in Contractors Index Page"
### Is your feature request related to a problem? Please describe.

A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe the solution you'd like

A clear and concise description of what you want to happen.

### Describe alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.

#

[2020-07-30 11:19] delight500 opened #493 "Site usage statistics and site traffic counter"
Good morning @EphraimDev  I want to add this feature to our dashboard, that tracks the amount visitors that visits our site and the amount of times our site is visited daily.
I will also display what browser is used to open our site the most so we can check for responsiveness across top browsers, and I will display all this info with charts so we would get our weekly traffic and yearly traffic dat

[2020-07-30 12:21] EphraimDev commented on #493
Go ahead

[2020-07-31 07:14] papa28x4 opened #507 "[FEATURE REQUEST] latest expenses for home carousel"
### Is your feature request related to a problem? Please describe.

The home carousel is meant to be display latest expenses to the user

### Describe the solution you'd like

The home carousel will be fed the latest expenses from the Payments table

[2020-08-02 06:58] ihechiwilliams opened #525 "Set up server"
Install nginx
install mysql
install php and setup the server to support laravel applications

[2020-08-02 07:00] ihechiwilliams opened #526 "Setup Supervisor"
To run background process
like laravel jobs / queues and also for making the live comment work

[2020-08-02 07:01] ihechiwilliams opened #527 "Ningx Config File"
Write a nginx config file to point the domain name to the server

[2020-08-02 07:06] ihechiwilliams opened #528 "Setup Letsencrypt"
To  enable https connection and redirect all http connection to the https

[2020-08-29 06:00] #528 closed, assigned to ihechiwilliams

[2020-08-29 11:36] #276 closed, assigned to nobody

[2020-08-31 10:40] markessien opened #612 "[BUG] Documentation still speaks about Larave Framework"
### Describe the bug

If you visit here: https://github.com/expenseng/expenseng you will see that the repo README.txt still reads as if it's a laraavel application

[2020-08-31 10:43] markessien opened #613 "[BUG] The top menu jumps around when you hover"
### Describe the bug

IF you go here: https://expenseng.com/ and hover your mouse over the menu at the top you will notice that the menu jumps around

### To Reproduce

Steps to reproduce the behavior:

1. Go to https://expenseng.com/
2. Hover your mouse over the menu

### Expected behavior

IT should not jump around

### Screenshots

![image](https://user-images.githubusercontent.com/373021/91712

[2020-08-31 10:45] markessien opened #614 "[BUG] On the homepage, the top hero area breaks out of the page width (Frontend Issue)"
### Describe the bug

The homepage has a fixed width layout. However, on large screens, the content is left and right aligned, which makes the site look disorganised.

All content should exist strictly within the red lines below.

### Screenshots

![image](https://user-images.githubusercontent.com/373021/91712292-c0718980-eb87-11ea-958e-97eb8c4b7207.png)

[2020-08-31 10:47] markessien opened #615 "[FEATURE REQUEST] Remove the black bars on the homepage"
![image](https://user-images.githubusercontent.com/373021/91712456-11817d80-eb88-11ea-81b7-ba348cb103a9.png)

The blackbars will not work well with large screens, and when the page borders are enforced, will look strange. I suggest that they be removed, and the header text properly aligned (left) instead, and made bold and dar.

[2020-08-31 10:50] markessien opened #616 "[FEATURE REQUEST] Change default view on the site to show expenditure in the last complete month"
Instead of showing total expenditure across the last 5 years, it would be better to show expenditure in the last month for which expense reports are fully complete. For example, in August it could show expenses of July if the reports are fully complete.

[2020-08-31 10:50] markessien opened #617 "[BUG] Add a favicon"
Add a favicon to the site

[2020-08-31 10:52] markessien opened #618 "[BUG] Remove the images on the single expense page"
On this page: https://expenseng.com/expenses/1000705014-1-payment-for-iar-t-ibadan-in-the-rehabilitation-of-kenaf-seed-coid-storage-roomseed-bank there is an image in the top area. This image is generally not going to be available for most projects, so it should not be included.

[2020-08-31 10:53] markessien opened #619 "[BUG] Link the contractor from the single payment page"
On a single payment page, include a link to the contractor of the page.
![image](https://user-images.githubusercontent.com/373021/91712889-f6633d80-eb88-11ea-93f0-2e3c80cac0c7.png)

[2020-08-31 10:54] markessien opened #620 "[FEATURE REQUEST] Change the title on Ministry Page to Expenses of Government Ministries in Nigeria"
[FEATURE REQUEST] Change the title on this page: https://expenseng.com/ministries to Expenses of Government Ministries in Nigeria

[2020-08-31 10:56] markessien opened #621 "[FEATURE REQUEST] Add Basic Filtering to Ministry Page"
On the ministry page (here https://expenseng.com/ministries) the default view should show how much expenditure each ministry had in the last complete month, with the largest expense ministry being sorted to the top.

Design and add tabs (NOT a dropdown) that allows me to show amount spent in 2020 or all time.

[2020-08-31 10:58] markessien opened #622 "[FEATURE REQUEST] Merge the Daily Report and All Expenses page"
The daily report and all expenses page are very similar. They should be merged together into a single page called All Expenses, and the menu item at the top made to not be a dropdown.

[2020-08-31 10:59] markessien opened #623 "[FEATURE REQUEST] Change URL of all expenses to be /expenses"
On this page: https://expenseng.com/expense/report change the URL to https://expenseng.com/expenses/. This will always list all expenses, with the latest at the top.

[2020-08-31 11:00] markessien opened #624 "[BUG] Remove the multiple google analytics and global tag"
You have 2 google analytics and 3 google global tag. Remove the extra ones

[2020-08-31 11:02] markessien opened #625 "[FEATURE REQUEST] Change title on frontpage to Government Expenses in Nigeria"
Change title on frontpage to Government Expenses in Nigeria

[2020-08-31 11:03] markessien opened #626 "[BUG] Remove comment feature all expense pages"
The all expense and ministry expense pages should not have a comment feature, as the page content is dynamic. The thing that people comment on may no longer be there when someone else reads the comment: https://expenseng.com/expense/ministry

[2020-08-31 11:03] markessien opened #627 "[BUG] The share feature should link to the single expense"
On this page: https://expenseng.com/expense/ministry the share feature should link to the particular expense being shared

[2020-08-31 11:04] markessien opened #628 "[BUG] On the ministry page, I should be able to filter by ministry"
On this page: https://expenseng.com/expense/ministry instead of listing by sector, the dropdown should allow me filter by ministry

[2020-08-31 11:08] markessien opened #629 "[BUG] The URLs to the ministries should not be capitalised"
On this page https://expenseng.com/ministries/ hovering over the ministry links shows that the urls being linked to are capitalised, e.g this: https://expenseng.com/ministries/Trade https://expenseng.com/ministries/Petroleum.

Only small letter urls should work, the others should 404.

[2020-08-31 11:09] markessien opened #630 "[FEATURE REQUEST] Title each ministry page properly"
If you visit a ministry page, e.g this one: https://expenseng.com/ministries/Petroleum the title should be Expenses of the Petroleum Resources Ministry, Nigeria

[2020-08-31 11:12] markessien opened #631 "[FEATURE REQUEST] Allow the crowd specify that a particular money receiver is a Government Parastatal"
For example this: https://expenseng.com/contractors/national-pension-commission

This is not a private contractor, but a government parastatal. So I should be able to submit the info on this page: https://expenseng.com/contractors/national-pension-commission that indicates if this is a Govt Parastatal or a Private Contractor (Company) or Private Contractor (Individual) or Government Official (Pers

[2020-08-31 11:13] markessien opened #632 "[FEATURE REQUEST] Title the single contractor page properly"
This page https://expenseng.com/contractors/national-pension-commission should be titled Money received by NATIONAL PENSION COMMISSION from Nigerian Government - ExpenseNG

[2020-08-31 11:13] markessien opened #633 "[BUG] On this page, link each of the individual expenses"
Here: https://expenseng.com/contractors/national-pension-commission

[2020-08-31 11:15] markessien opened #634 "[BUG] On single expense page, title the page correctly"
https://expenseng.com/expenses/1000703958-1-being-payment-for-the-enumeration-consultancy-for-the-mambilla-hepp

Title: IBORO IGE-EDABA & ASSOCIATES received ₦68million for BEING PAYMENT FOR THE ENUMERATION CONSULTANCY FOR THE MAMBILLA HEPP. - ExpenseNG

<contractor> received <amount> for <project>

[2020-08-31 11:16] markessien opened #635 "[FEATURE REQUEST] Add a dedicated page for each minister"
Add a page for each of the ministers, and link it. https://expenseng.com/ministries/Petroleum

This needs design, FE and BE work.

[2020-08-31 11:17] markessien opened #636 "[BUG] On Cabinet page, the minister photos are really spread out"
![image](https://user-images.githubusercontent.com/373021/91714543-4b548300-eb8c-11ea-853a-ccd3a4d13da5.png)

Look at the gap between the ministers. It's not needed.

[2020-08-31 11:18] markessien opened #637 "[FEATURE REQUEST] Add a page where latest comments can be viewed"
The latest comments page should be linked from the footer.

[2020-08-31 11:19] markessien opened #638 "[FEATURE REQUEST] All expenses should be listed on the ministry page"
If I view a page like this: https://expenseng.com/ministries/Trade at the bottom I can paginate to view all expenses for the ministry since the beginning of time

[2020-08-31 11:20] markessien opened #639 "[BUG] Move the Government Twitter handle page to the footer"
It's not needed at the top

[2020-08-31 11:23] markessien opened #640 "[FEATURE REQUEST] Allow filtering by various criteria on the contractors page"
On this page: https://expenseng.com/contractors
by default show the biggest contractors for last completed month. Also offer options to only show individuals, only government parastals or only corporate entities

[2020-08-31 11:28] markessien opened #641 "[FEATURE REQUEST] When an entity is a Government Institution, then rename Contract Award"
On this page: https://expenseng.com/contractors/hq-nigerian-army-finance-corps rename Contract Awards to "Money Transfer" when the receiving end is not an external contractor, but is a Government entity.

[2020-08-31 11:30] markessien opened #642 "[BUG] On this page, contract is written weirdly"
https://expenseng.com/contractors/reynolds-construction-company-

It says "Contiosidosract awards"

[2020-08-31 11:31] markessien opened #643 "[BUG] Remove parameter on the contractor payment page"
Change from this: https://expenseng.com/contractors/reynolds-construction-company-?page=2

to https://expenseng.com/contractors/reynolds-construction-company-/2

[2020-08-31 11:40] #527 closed, assigned to ihechiwilliams

[2020-08-31 11:40] #526 closed, assigned to ihechiwilliams

[2020-08-31 11:40] #525 closed, assigned to ihechiwilliams

[2020-08-31 11:41] #507 closed, assigned to nobody

[2020-08-31 11:41] #493 closed, assigned to nobody

[2020-08-31 11:41] #483 closed, assigned to nobody

[2020-08-31 11:41] #478 closed, assigned to nobody

[2020-08-31 11:41] #472 closed, assigned to nobody

[2020-08-31 11:42] #471 closed, assigned to nobody

[2020-08-31 11:42] #470 closed, assigned to nobody

[2020-08-31 11:42] #467 closed, assigned to nobody

[2020-08-31 11:42] #466 closed, assigned to nobody

[2020-08-31 11:43] #464 closed, assigned to nobody

[2020-08-31 11:43] #243 closed, assigned to nobody

[2020-08-31 11:44] #244 closed, assigned to nobody

[2020-08-31 11:46] #274 closed, assigned to nobody

[2020-08-31 11:46] #322 closed, assigned to nobody

[2020-08-31 11:47] #345 closed, assigned to nobody

[2020-08-31 11:47] #347 closed, assigned to nobody

[2020-08-31 11:47] #350 closed, assigned to nobody

[2020-08-31 11:47] #358 closed, assigned to nobody

[2020-08-31 11:48] #379 closed, assigned to nobody

[2020-08-31 11:48] #393 closed, assigned to nobody

[2020-08-31 11:48] #418 closed, assigned to nobody

[2020-08-31 11:48] #426 closed, assigned to nobody

[2020-08-31 11:48] #442 closed, assigned to nobody

[2020-08-31 11:49] #446 closed, assigned to nobody

[2020-08-31 11:49] #447 closed, assigned to nobody

[2020-08-31 11:49] #461 closed, assigned to nobody

[2020-08-31 11:49] #462 closed, assigned to nobody

[2020-08-31 11:50] #409 closed, assigned to nobody

[2020-08-31 11:50] #403 closed, assigned to nobody

[2020-08-31 12:54] #642 closed, assigned to goodhands

[2020-08-31 13:53] devugo opened #647 "[BUG] There's a log on the console from chart.js on the home page"
Remove the log on the console, nothing should be logging on production
![image](https://user-images.githubusercontent.com/46859382/91727507-b6588680-eb99-11ea-8962-87678693109b.png)

[2020-08-31 14:46] goodhands commented on #637
So this page should show all comments across the site on a single page?

[2020-08-31 15:23] EphraimDev commented on #637
Yes.

A summary of the post the comments are made on, just like Twitter I guess

[2020-09-09 13:38] Ezeko commented on #612
<img width="1440" alt="Screenshot 2020-09-09 at 14 36 38" src="https://user-images.githubusercontent.com/31517324/92605807-1346f180-f2aa-11ea-86db-b88a80c5cdee.png">
This is expenseng specific readme

[2020-09-10 10:32] #631 closed, assigned to goodhands

[2020-09-10 10:47] #632 closed, assigned to nobody

[2020-09-11 20:39] #641 closed, assigned to nobody

[2020-09-17 01:00] #617 closed, assigned to nobody

[2020-09-17 01:13] #636 closed, assigned to nobody

[2020-09-17 01:29] #634 closed, assigned to nobody

[2020-09-23 07:55] #612 closed, assigned to nobody

[2020-09-23 15:54] ihechiwilliams commented on #639
fixed, kindly close it @EphraimDev

[2020-09-23 15:55] charleyvibez commented on #625
fixed, kindly close this issue @EphraimDev

[2020-09-23 15:56] charleyvibez commented on #620
Fixed, please kindly close this issue @EphraimDev

[2020-09-23 15:56] EphraimDev commented on #639
@charleyvibez Mark will be doing the closing, that's why I reopened them back.

[2020-09-23 15:59] ihechiwilliams commented on #639
okay sir,

[2020-09-23 16:03] ihechiwilliams commented on #639
Kindly review @markessien

[2020-09-23 16:04] ihechiwilliams commented on #625
kindly review @markessien

[2020-09-23 16:04] ihechiwilliams commented on #620
kindly review @markessien

[2020-09-23 16:21] ihechiwilliams commented on #623
issues fixed, kindly review @markessien

[2020-09-23 16:53] ihechiwilliams commented on #623
@EphraimDev kindly reopen this issue
@markessien please review and close

[2020-09-24 05:55] markessien commented on #639
Good

[2020-09-24 05:55] markessien commented on #625
Adjust to Open Government Expenses in Nigeria

[2020-09-24 05:56] markessien commented on #620
Good

[2020-09-24 05:57] markessien commented on #623
The /report is still existent. These two pages pretty much do exactly the same thing.

[2020-09-25 13:36] #640 closed, assigned to nobody

[2020-09-25 13:37] #633 closed, assigned to nobody

[2020-09-25 14:32] ihechiwilliams commented on #639
@EphraimDev i guess you can close this issue since mark has reviewed it

[2020-09-27 11:44] papa28x4 commented on #613
Please review @markessien

[2020-09-27 11:47] papa28x4 commented on #621
@markessien please review

[2020-09-27 11:47] papa28x4 commented on #622
@markessien please review

[2020-09-27 11:48] papa28x4 commented on #626
@markessien please review

[2020-09-27 11:49] papa28x4 commented on #628
@markessien please review

[2020-09-27 11:50] papa28x4 commented on #630
@markessien please review

[2020-09-27 11:50] papa28x4 commented on #629
@markessien please review

[2020-10-01 17:46] markessien commented on #613
Fixed

[2020-10-01 17:46] #613 closed, assigned to nobody

[2020-10-01 17:47] markessien commented on #621
Excellent!

[2020-10-01 17:47] #621 closed, assigned to nobody

[2020-10-01 17:49] markessien commented on #622
Looks good

[2020-10-01 17:49] #622 closed, assigned to nobody

[2020-10-01 17:50] markessien commented on #626
Good

[2020-10-01 17:50] #626 closed, assigned to nobody

[2020-10-01 17:52] markessien opened #671 "The links to the single contractor page is broken"
On this page: https://expenseng.com/expenses the links to the single contractor pages are broken

[2020-10-01 17:52] markessien commented on #628
Great!

[2020-10-01 17:52] #628 closed, assigned to nobody

[2020-10-01 17:52] markessien commented on #629
Great!

[2020-10-01 17:52] #629 closed, assigned to nobody

[2020-10-01 18:09] markessien commented on #630
Fine

[2020-10-01 18:09] #630 closed, assigned to nobody

[2020-10-01 18:09] markessien opened #672 "Capitalised URLs should give 404 error, not work"
A url like this https://expenseng.com/ministries/Petroleum should always fail. Only the small letter version of any url should work - all the rest should give 404 error

[2020-10-01 18:10] markessien opened #673 "There are multiple Google Analytics tags"
Let there just be one

[2020-10-01 18:12] markessien opened #674 "Align all the borders properly"
![image](https://user-images.githubusercontent.com/373021/94847134-77c91c80-0422-11eb-87a0-80c1a29bf772.png)

[2020-10-01 18:23] markessien opened #675 "The frontpage width should follow this width"
![image](https://user-images.githubusercontent.com/373021/94848214-fbcfd400-0423-11eb-9221-d7640c1c1706.png)

And the rest of the site should also do so

[2020-10-01 18:24] markessien opened #676 "Create Sitemaps"
One sitemap per ministry and per year, and use a sitemap index for this

[2020-10-01 18:36] markessien opened #677 "Site is very slow"
See here: https://expenseng.com/ministries/police

[2020-10-02 07:17] markessien opened #678 "[BUG] This UI element should behave like a normal drop down"
This one here:
![image](https://user-images.githubusercontent.com/373021/94897444-ed1f0680-048f-11eb-8975-08196ab4fe29.png) on this page: https://expenseng.com/expenses

It should actually act like a dropdown, and use something like select2

[2020-10-02 07:19] markessien opened #679 "[BUG]The share buttons should use a short url"
https://expenseng.com/expenses

The share icons should not share https://expenseng.com/expenses/1000718850-1  but should share something like expenseng.com/r/s3d5tT. This should then do a 301 redirect to the final url of the expense.

[2020-10-02 07:20] markessien opened #680 "[BUG] The pagination of the expenses should not happen over ajax"
Pagination each item should lead to a brand new page. This is the first page https://expenseng.com/expenses, next page is https://expenseng.com/expenses/2, then https://expenseng.com/expenses/3 and so on. No url parameters, and no ajax

[2020-10-02 07:21] markessien opened #681 "Length of URL slugs should be limited"
Rather than super long urls like this:

https://expenseng.com/expenses/1000718170-1-being-part-payment-for-the-rehabilitation-and-alphalt-overlay-of-2km-internal-road-construction-of-culvert-at-the-university-teaching-hospital-ituku-enugu-state

It should be limited to 30 characters after the ID.

[2020-10-02 07:32] EphraimDev commented on #673
Fixed this

[2020-10-10 07:51] EphraimDev commented on #679
Worked on this

[2020-10-10 07:54] EphraimDev commented on #677
@markessien is this still slow?

[2020-10-10 07:55] #673 closed, assigned to nobody

[2020-10-10 19:24] EphraimDev commented on #672
fixed

[2020-10-11 20:24] EphraimDev commented on #643
fixed

[2020-10-11 20:32] #615 closed, assigned to nobody

[2020-10-11 20:33] #616 closed, assigned to nobody

[2020-10-11 20:38] #618 closed, assigned to nobody

[2020-10-11 20:48] EphraimDev commented on #619
fixed

[2020-10-11 20:48] #619 closed, assigned to EphraimDev

[2020-10-11 20:49] #620 closed, assigned to nobody

[2020-10-11 20:50] #623 closed, assigned to nobody

[2020-10-11 20:51] #624 closed, assigned to nobody

[2020-10-11 20:52] #625 closed, assigned to nobody

[2020-10-11 20:54] #627 closed, assigned to nobody

[2020-10-11 20:56] EphraimDev commented on #637
@goodhands this hasn't been done

[2020-10-11 20:57] #638 closed, assigned to nobody

[2020-10-11 20:58] #639 closed, assigned to nobody

[2020-10-11 20:59] #643 closed, assigned to EphraimDev

[2020-10-11 21:04] #679 closed, assigned to EphraimDev

[2020-10-11 21:04] #681 closed, assigned to EphraimDev

[2020-10-12 06:52] #671 closed, assigned to EphraimDev

[2020-10-16 11:53] onifs10 commented on #680
this has been done

[2020-10-16 11:54] onifs10 commented on #678
this has been done

[2020-10-16 11:56] EphraimDev commented on #680
Not completely

[2020-10-16 11:57] #678 closed, assigned to nobody

[2020-10-16 14:36] onifs10 commented on #680
what is else has not been done